<small>
  <%= pluralize(@user.posts.count, 'post') %>,
  <%= pluralize(@user.comments.count, 'comment') %>
  <div class='js-comments-count'><%= pluralize(@user.comments.count, 'comment') %></div>
</small>