// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.social-btn {
  width: 75px;
  background: #337AB7;
  height: 20px;
  border-radius: 5px;
  text-align: center;
}

#text-btn {
  color: white;
}